<div class="border border-gray-200 rounded-xl p-6 shadow-sm hover:shadow-md transition relative">
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-full border border-gray-300 overflow-hidden">
        <img [src]="project.imageUrl" [alt]="'Miniatura de ' + project.title" alt="Logo BAP" class="w-full h-full object-cover" />
      </div>
      <span class="bg-green-100 text-green-700 text-xs font-semibold px-2 py-1 rounded-full">
        {{ project.tecnologies }}
      </span>
    </div>
    <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ project.title }}</h3>
    <p class="text-gray-600 mb-6 text-sm">{{ project.description }}</p>
    <div class="absolute bottom-4 right-4 text-blue-500">
        <a *ngIf="project.externalLink" 
           [href]="project.externalLink"          
           rel="noopener noreferrer"
           class="text-blue-500 flex items-center hover:underline">
      <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
        <path d="M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3z"/>
      </svg>
      </a>
    </div>
  </div>


<!-- <article class="flex flex-col bg-white p-4 rounded-lg shadow-sm transform transition-transform duration-200 hover:scale-[1.01]">
    <img [src]="project.imageUrl" [alt]="'Miniatura de ' + project.title"
         class="w-full h-48 object-cover rounded-lg mb-4">
    <div class="flex-1">
        <p class="text-gray-500 text-sm mb-2">{{ project.date }}</p>
        <h3 class="text-xl font-bold mb-2">{{ project.title }}</h3>
        <p class="text-gray-500 mb-4">{{ project.description }}</p>
        
        
        <div class="flex flex-wrap gap-2 mb-4" *ngIf="project.tags">
            <span *ngFor="let tag of project.tags" 
                  class="px-2 py-1 bg-gray-100 text-gray-600 text-sm rounded">
                {{ tag }}
            </span>
        </div>

       
        <a *ngIf="project.externalLink" 
           [href]="project.externalLink"
           target="_blank"
           rel="noopener noreferrer"
           class="text-blue-500 flex items-center hover:underline">
            Ver más
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
        </a>
    </div>
</article>  -->