<app-home-header></app-home-header>

<section class="max-w-4xl mb-12">    
  <h1 class="text-3xl md:text-5xl font-bold leading-tight">
     Mi Curriculum
  </h1>
  <p class="text-gray-500 mt-4 text-base md:text-lg">
    Explora algunos de los proyectos más recientes en los que he trabajado, cubriendo diversas tecnologías y desafíos de desarrollo.
  </p>
</section>

<div class="flex flex-col lg:flex-row">
  <div class="flex flex-col lg:flex-row gap-8 w-full">
    <!-- Columna izquierda -->
    <div class="w-full lg:w-2/3">
      <!-- Educación -->
       <app-resume-education></app-resume-education>
<br><br>
       <app-resume-education></app-resume-education>
      <!--  -->
    </div>

 

    <!-- Columna derecha -->
    <app-subscription-panel></app-subscription-panel>
  </div>    
</div>
