<app-home-header></app-home-header>




<section class="mb-12">
    <h1 class="text-4xl sm:text-5xl font-bold text-gray-900 mb-6 ">
        Hola, soy <span class="text-blue-600">[Luciano Ferrari]</span> feyaluciano
    </h1>

</section>
<div class="flex flex-col lg:flex-row">

    <div class="flex flex-col lg:flex-row gap-8">
        <div class="w-full lg:w-2/3">

            <section class="mb-10">
                <div class="relative w-full max-w-mdZ sm:max-w-lgZ mx-auto lg:mx-0 mb-8 group  text-center">
                    <img src="./assets/aboutme2.png" alt="Foto"
                        class="rounded-lg shadow-xl w-full object-cover aspect-[3/2] transition-transform duration-300 group-hover:scale-105">                    
                </div>
                <h2 class="text-2xl font-semibold text-gray-800 mb-3">Quien soy</h2>
                <p class="text-gray-600 leading-relaxed">
                    Soy desarrollador de software full stack con más de 15 años de experiencia trabajando en distintos
                    entornos y tecnologías. En los últimos años me he enfocado en el desarrollo de aplicaciones web
                    usando Angular, .NET y PHP Laravel, integrando tanto el front como el back. También exploro
                    arquitectura limpia, buenas prácticas como los principios SOLID y patrones de diseño aplicados al
                    mundo real.
                </p>
            </section>

            <section class="mb-10">
                <h2 class="text-2xl font-semibold text-gray-800 mb-3">Mi Enfoque como Desarrollador Full Stack</h2>
                <p class="text-gray-600 leading-relaxed mb-2">
                    En mi rol actual como desarrollador full stack en CETAP S.A, estoy enfocado en la creación de aplicaciones web modernas. En el frontend, utilizo Vue 3, y en el backend, trabajo con .NET 8. Me comprometo firmemente con las buenas prácticas de clean code, aplicando patrones de diseño para escribir código claro, mantenible y escalable. Para la gestión de datos, utilizo SQL Server, realizando consultas y operaciones que son clave en el desarrollo y testeo de funcionalidades. Colaboro estrechamente con el technical leader para entender y satisfacer las necesidades técnicas, y participo activamente con todo el equipo, compartiendo conocimientos y aprendiendo en conjunto para una mejora continua.
                </p>
                
            </section>


            <section class="mb-10">
                <h2 class="text-2xl font-semibold text-gray-800 mb-3">Compromiso y Evolución Profesional
                </h2>
                <p class="text-gray-600 leading-relaxed mb-2">
                    Mi compromiso profesional se extiende más allá de mi rol actual. Continúo manteniendo desarrollos confiados a mí por empleadores anteriores, quienes valoraron mi dedicación y calidad profesional. Estos incluyen proyectos realizados en tecnologías como Angular, AngularJS y PHP. Adicionalmente, soy responsable del mantenimiento de soluciones en Angular utilizadas por instituciones importantes de mi ciudad, lo que representa una gran responsabilidad y un orgullo personal.
                </p>
                
            </section>


            <section class="mb-10">
                <h2 class="text-2xl font-semibold text-gray-800 mb-3">Compromiso y Evolución Profesional
                </h2>
                <p class="text-gray-600 leading-relaxed mb-2">
                    Mi compromiso profesional se extiende más allá de mi rol actual. Continúo manteniendo desarrollos confiados a mí por empleadores anteriores, quienes valoraron mi dedicación y calidad profesional. Estos incluyen proyectos realizados en tecnologías como Angular, AngularJS y PHP. Adicionalmente, soy responsable del mantenimiento de soluciones en Angular utilizadas por instituciones importantes de mi ciudad, lo que representa una gran responsabilidad y un orgullo personal.
                </p>
                
                <p class="text-gray-600 leading-relaxed mb-2">
                    Actualmente, estoy desarrollando este sitio personal con Angular y desplegándolo en Vercel. Mi objetivo es que sea un espacio para plasmar mis aprendizajes diarios y recopilar recursos fundamentales que siempre vale la pena revisar.
                </p>

            </section>

            <section class="mb-10">
                <h2 class="text-2xl font-semibold text-gray-800 mb-3">Integrando la Inteligencia Artificial en el Desarrollo
                </h2>
                <p class="text-gray-600 leading-relaxed mb-2">
                    Creo firmemente que la inteligencia artificial ha llegado para transformar el mundo del desarrollo, y no aprovecharla sería desaprovechar una herramienta increíblemente potente. Por ello, en mi día a día, integro activamente la IA en mi flujo de trabajo. Utilizo herramientas como Cursor como editor de código con soporte de IA, y recurro frecuentemente a asistentes como ChatGPT o Google Gemini para agilizar el desarrollo, resolver problemas y explorar nuevas ideas.
                </p>
                
            </section>

            <section class="mb-12">
                <h2 class="text-2xl font-semibold text-gray-800 mb-6">Experiencia</h2>
                <div class="space-y-10">
                    <div class="flex relative timeline-item">
                        <div class="flex-shrink-0 w-10 h-10 rounded-full mr-6 shadow-md z-10 border-2 border-white overflow-hidden">
                            <img src="./assets/experiencia/cetap.png" alt="Cetap" class="w-full h-full object-cover">
                        </div>
                        <div class="flex-grow pb-2">
                            <p class="text-xs text-gray-500 uppercase tracking-wider">MAYO 2024 - ACTUALIDAD</p>
                            <h3 class="text-xl font-semibold text-gray-900 mt-1">Desarrollador Full Stack</h3>
                            <p class="text-sm text-gray-700 mb-2">[CETAP S.A]</p> <p class="text-gray-600 leading-relaxed text-sm">
                                Actualmente, estoy involucrado en el **desarrollo de un backoffice en Angular** diseñado para la **gestión de incidentes medioambientales** para la principal compañía petrolera de Argentina.
                                <br><br>
                                Además, me dedico a la **implementación de nuevas funcionalidades** para el producto principal de la empresa. Este trabajo se centra en la **gestión de riesgos**, utilizando **Vue 3** en el frontend y **.NET** en el backend, lo que me permite seguir profundizando mis conocimientos en estas tecnologías de vanguardia.
                            </p>
                        </div>
                    </div>
                    <div class="flex relative timeline-item">
                        <div class="flex-shrink-0 w-10 h-10 rounded-full mr-6 shadow-md z-10 border-2 border-white overflow-hidden">
                            <img src="./assets/experiencia/galicia.png" alt="Banco Galicia" class="w-full h-full object-cover">
                        </div>
                        <div class="flex-grow pb-2">
                            <p class="text-xs text-gray-500 uppercase tracking-wider">MARZO 2022 - MAYO 2024</p>
                            <h3 class="text-xl font-semibold text-gray-900 mt-1">Desarrollador de Plataforma de Reintegros</h3>
                            <p class="text-sm text-gray-700 mb-2">[OneInfo (Cliente: Banco Galicia)]</p>
                            <p class="text-gray-600 leading-relaxed text-sm">
                                En mi rol en **OneInfo**, fui clave en el desarrollo de una avanzada **plataforma de reintegros en tiempo real para Banco Galicia**. Este proyecto robusto se construyó sobre una arquitectura de **microservicios con .NET Core**, aprovechando **Kafka** y **NiFi** para el manejo de datos.
                                <br><br>
                                Mi trabajo incluyó la implementación del **patrón publicador-suscriptor con Kafka** para asegurar una comunicación eficiente y escalable entre los componentes. Además, fui responsable de la configuración de **flujos de datos en NiFi**, lo que permitió una orquestación y transformación inteligente de la información. La solución se integró con **bases de datos SQL Server y MongoDB**, garantizando un almacenamiento eficiente y adaptado a las necesidades de los distintos tipos de datos del proyecto.
                            </p>
                        </div>
                    </div>
                    <div class="flex relative timeline-item">
                        <div class="flex-shrink-0 w-10 h-10 rounded-full mr-6 shadow-md z-10 border-2 border-white overflow-hidden">
                            <img src="./assets/experiencia/bera.png" alt="Municipalildad de Berazategui" class="w-full h-full object-cover">
                        </div>
                        <div class="flex-grow pb-2">
                            <p class="text-xs text-gray-500 uppercase tracking-wider">NOVIEMBRE 2018 - DICIEMBRE 2020</p>
                            <h3 class="text-xl font-semibold text-gray-900 mt-1">Desarrollador Full Stack</h3>
                            <p class="text-sm text-gray-700 mb-2">[Municipalildad de Berazategui]</p> <p class="text-gray-600 leading-relaxed text-sm">
                                Durante mi rol como **Desarrollador Full Stack**, me aboqué al desarrollo de una amplia variedad de proyectos, evolucionando con diversas tecnologías. Inicié trabajando con **PHP, jQuery, HTML y CSS**.
                                <br><br>
                                Posteriormente, lideré la transición de stack, implementando soluciones con **.NET**, utilizando **Entity Framework**, bases de datos como **MySQL** y **SQL Server**, y librerías como **AutoMapper** y **Fluent Validation**. En el frontend, me especialicé en **AngularJS**. Más adelante, cambié mi enfoque al desarrollo con **Angular** para el frontend, manteniendo **.NET** en el backend.
                                <br><br>
                                También fui responsable del desarrollo de **aplicaciones móviles con Ionic**, utilizando Angular para el desarrollo, y con backends en PHP. Un proyecto destacable fue el desarrollo de un **botón de pánico** que utilizaba **sockets** para comunicación en tiempo real, donde también estuve a cargo de la configuración de una instancia **EC2** para su alojamiento.
                                <br><br>
                                Adicionalmente, formé parte del equipo encargado de la configuración de **Adempiere** para diferentes áreas del cliente, participando en un curso especializado con profesores de la **Universidad Nacional de La Plata**.
                            </p>
                        </div>
                    </div>

                    <div class="flex relative timeline-item">
                        <div class="flex-shrink-0 w-10 h-10 rounded-full mr-6 shadow-md z-10 border-2 border-white overflow-hidden">
                            <img src="./assets/experiencia/dm.png" alt="DMFusión" class="w-full h-full object-cover">
                        </div>
                        <div class="flex-grow pb-2">
                            <p class="text-xs text-gray-500 uppercase tracking-wider">FEBRERO 2007 - SEPTIEMBRE 2008</p>
                            <h3 class="text-xl font-semibold text-gray-900 mt-1">Desarrollador Web</h3>
                            <p class="text-sm text-gray-700 mb-2">[DmFusión]</p>
                            <p class="text-gray-600 leading-relaxed text-sm">
                                En dmfusion, me encargué del **desarrollo de páginas web** utilizando un stack que incluía **PHP, ASP, MySQL, HTML y CSS**. Mi rol se centró en la creación y mantenimiento de soluciones web, aplicando diversas tecnologías de frontend y backend para satisfacer los requisitos de los proyectos.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mb-10">
                <h2 class="text-2xl font-semibold text-gray-800 mb-3">Conectemos</h2>
                <p class="text-gray-600 leading-relaxed">
                    Me gustaría conectarme con otros vía <a href="mailto:feyaluciano@gmail.com"
                        class="text-blue-600 hover:underline font-medium">email</a> y <a
                        href="https://twitter.com/feyaluciano" target="_blank" rel="noopener noreferrer"
                        class="text-blue-600 hover:underline font-medium">Twitter</a> para charlar sobre proyectos e
                    ideas. También estoy disponible para discutir sobre proyectos freelance. Estoy interesado en
                    escuchar sobre posibles oportunidades, discutiéndolas y luego colaborando potencialmente si es una
                    buena opción.
                </p>
            </section>


        </div>

        <app-subscription-panel></app-subscription-panel>






    </div>


</div>